.container {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.container span {
  border: 1px solid #fb6f92;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span:hover {
  background-color: pink;
}
